<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" href="double.css" rel="stylesheet" />
<title>Double</title>
</head>

<body>
	<div class="wrap"> 
    	<header>
        <h1> This is a header</h1>
        </header>
		<section>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae feugiat metus. Maecenas tortor neque, condimentum non malesuada eu, pulvinar vel diam. Morbi aliquet ante a enim fermentum gravida. Aenean a ipsum at enim lacinia pulvinar at sit amet lacus. Fusce nec magna cursus, suscipit urna ornare, rutrum est. Duis ullamcorper aliquet nulla, nec convallis felis cursus non. Aliquam lacinia non felis id posuere. Cras ac turpis sed massa lacinia congue in sit amet ligula. Maecenas vel sapien eget ante volutpat blandit. Sed vehicula libero non erat laoreet accumsan. Nulla eget ornare nisl.</p>

			<p>Donec bibendum aliquam augue, at sollicitudin lectus tempus sed. Duis sit amet libero tortor. Etiam vitae est arcu. Duis adipiscing sed metus eget gravida. Nunc imperdiet diam sed metus blandit consectetur. Praesent a sagittis ligula, ut commodo dui. Aenean vehicula nec eros non ornare. Suspendisse tempus diam quis dictum interdum. Nullam in mollis est, sit amet adipiscing est. Praesent dictum, ante eget venenatis suscipit, mi erat semper ipsum, non pretium orci leo et risus. Vestibulum consectetur id sapien in luctus. </p>
        </section>
        <aside>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae feugiat metus. Maecenas tortor neque, condimentum non malesuada eu, pulvinar vel diam. Morbi aliquet ante a enim fermentum gravida. Aenean a ipsum at enim lacinia pulvinar at sit amet lacus. Fusce nec magna cursus, suscipit urna ornare, rutrum est. Duis ullamcorper aliquet nulla, nec convallis felis cursus non. Aliquam lacinia non felis id posuere. Cras ac turpis sed massa lacinia congue in sit amet ligula. Maecenas vel sapien eget ante volutpat blandit. Sed vehicula libero non erat laoreet accumsan. Nulla eget ornare nisl.</p>
        </aside>
        
        <footer>
        <p>This is the footer</p>
        </footer>
	</div>
</body>

</html>

